.background_body{ 
    background-image: url(http://design.youzidata.com/yjmaxdt/img/bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.no-scrollbar::-webkit-scrollbar{
    width: 0; 
    height: 0; 
    }
.containBox{ 
    height: 100%;  
    overflow-x: hidden; 
    overflow-y:auto;
     /*//不能写,会和下面的产生冲突*/ 
    -webkit-overflow-scrolling: touch; 
}

/*.scroll{
    position: fixed;
    height: 100%;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    display: none
}*/
@media screen and (min-height: 800px) {
 .img_container{
    margin-top: 3rem; 
}
.share{
    margin-top:6%;
}
.img_answer{
max-width: 80%; 
}
}
@media screen and (max-height: 799px) {
 .img_container{
    margin-top: 0rem; 
}
.share{
    margin-top:6%;
}
.img_answer{
max-width: 70%;  
}
}
div{
    color: #fff;
    font-size: 18px;
}
.img{ 
    max-width: 75%
}
#section1-2{
    animation: moveUp 1.3s ease-in-out 2.7s infinite alternate; 
}
@keyframes moveUp{ 
    from{margin-top:0px;} 
    to{margin-top:-6px;} 
}  
@keyframes moveUp{ 
    from{transform:translate(0,0)}
    to{transform:translate(0,6px)}
} 
.img_2{
    max-width: 30%
}
.music_logo{
    position: fixed;
    top: 0px;
    right: 0px;
    max-width: 50%;
    width: 35px;
    z-index: 9999;
}

.box_shadow_img{
    box-shadow: 4px 3px 0px #198B98;
} 
.fr{
    float: right;
}
.fl{
    float: left;
}
.begin_btn{
    background-color: transparent;
    border: solid 2px #3BBCDD;
    font-size: 24px;
    color: #fff;
    padding: 1px;
    width: 50%;
    border-radius: 25px;

}
.middle{
    width: 100%;
    text-align: center;
}
.content_bg{ 
    padding-top: 12rem;
    height: 50rem;
    background-image: url(../img/question_bg.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg1{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/1.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg2{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg3{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/3.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg4{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/4.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg5{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/5.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg6{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/6.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.content_bg7{
    padding-top: 11rem;
    height: 50rem;
    background-image: url(../img/7.png);
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-position: center;
}
.margin_t_17{
    margin-top: 12.5rem;
}
.margin_t_11{
    margin-top: 8.5rem;
}
.margin_t_9{
    margin-top: 7.5rem
}
.middle.margin_t_11>div{
    margin: 0 auto;
    background-color: #0F339C;
    font-size: 1.6rem;
    width: 65%;
    margin-bottom: 1.6rem;
    line-height: 2.3em;
    box-shadow: 6px 7px 0px #198B98;
}
.middle.margin_t_9>div {
    margin: 0 auto;
    background-color: #0F339C;
    font-size: 16px;
    width: 70%;
    margin-bottom:1.6rem;
    line-height: 2.3em;
    box-shadow: 6px 7px 0px #198B98;
}
.ft-14{
    font-size: 14px!important
}
.middle>p{
    letter-spacing: 3px;
}

.share>img{
    display: block;
    margin: 0 auto;
}
.share-img{
    background-image: url(../img/share.png);
    display: block;
    background-size: 100%;
    display: block;
    width: 20rem;
    /* margin: 5rem 8rem; */
    height: 5rem; 
    position: absolute;
    right: 6%;
    top: 1%;
}

.img_code{

max-width: 90%;
margin-top:20px;
}
.img_shadow{
margin-top:5px!important;
max-width: 70%;     
mix-blend-mode: multiply; 
}
.shareToFriend{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,.5);
}
/* .shareToFriend>div{
border-radius: 20px;
position: absolute;
top: -30px;
left: 0;
bottom: 0;
right: 0;
margin: auto;
width: 300px;
height: 200px;
background-color: #E96E32;
} */
.shareToFriend>div>p{ 
line-height: 200px
}
.padding_t{
    padding-top:10rem;
}

.content_bg .middle p{
    font-size:1.8rem;
}
.firstPage_btn{
    margin-top:3rem;
}